body {
    background-color: blueviolet;

}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200px;
    text-align: center;
    color: darkblue;
}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lime;
}
.typography-section {
    border: 1px solid white;
    background-color: blue;
}